@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.isolate-unicode {
    unicode-bidi: isolate;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

textarea.form-control {
    min-height: calc(1.5em + .75rem + 2px);
}

.general-form .form-control {
    position: relative;
    box-sizing: border-box;
    font-size: 14px;
    border-color: #f6f8f9;
    background-color: #f6f8f9;
    color: #4e5e6a;
    box-shadow: none;
} 

.icon-16 {
    width: 16px;
    height: 16px;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.overflow-anchor-none {
    overflow-anchor: none;
  }


.touch-action-auto {
    touch-action: auto;
  }


#post_timeline .post-content {
    display: block;
    width: 50%;
    position: relative;
    padding-top: 40px;
} 

#post_timeline .post-content:nth-child(odd) {
    float: left;
    clear: left;
    padding-right: 20px;
}

#post_timeline .post-content:nth-child(2n) {
    margin-top: 10px;
}

#post_timeline .post-content:nth-child(even) {
    float: right;
    clear: right;
    padding-left: 20px;
}

#post_timeline .post-content:nth-child(odd) .post-date {
    text-align: right;
}

#timeline .post-content .post-date span {
    background: #6690F4;
    color: #fff;
    padding: 3px 10px 5px;
    border-radius: 25px;
}    

.me-2 {
    margin-right: .5rem !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.avatar-sm {
    width: 50px;
    height: 50px;
}

.avatar {
    display: inline-block;
    white-space: nowrap;
}

.avatar img {
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}

@media screen and (max-width: 1400px){
    #post_timeline > .post-content:first-child {
        padding-top: 60px !important;
    }
}

@media screen and (max-width: 1400px){
    #post_timeline .post-content {
        float: left;
        width: 100% !important;
        padding: 0 0 0 30px !important;
        margin: 0 0 20px !important;
    }
}

@media screen and (max-width: 1400px){
    #post_timeline .post-content:nth-child(odd) .post-date {
        text-align: left !important;
    }  
}

