@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.isolate-unicode {
    unicode-bidi: isolate;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

textarea.form-control {
    min-height: calc(1.5em + .75rem + 2px);
}

.general-form .form-control {
    position: relative;
    box-sizing: border-box;
    font-size: 14px;
    border-color: #f6f8f9;
    background-color: #f6f8f9;
    color: #4e5e6a;
    box-shadow: none;
} 

.icon-16 {
    width: 16px;
    height: 16px;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.overflow-anchor-none {
    overflow-anchor: none;
  }


.touch-action-auto {
    touch-action: auto;
  }


#post_timeline .post-content {
    display: block;
    width: 50%;
    position: relative;
    padding-top: 40px;
} 

#post_timeline .post-content:nth-child(odd) {
    float: left;
    clear: left;
    padding-right: 20px;
}

#post_timeline .post-content:nth-child(2n) {
    margin-top: 10px;
}

#post_timeline .post-content:nth-child(even) {
    float: right;
    clear: right;
    padding-left: 20px;
}

#post_timeline .post-content:nth-child(odd) .post-date {
    text-align: right;
}

#timeline .post-content .post-date span {
    background: #6690F4;
    color: #fff;
    padding: 3px 10px 5px;
    border-radius: 25px;
}    

.me-2 {
    margin-right: .5rem !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.avatar-sm {
    width: 50px;
    height: 50px;
}

.avatar {
    display: inline-block;
    white-space: nowrap;
}

.avatar img {
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}
.d-flex {
    display: flex !important;
}

.w-100 {
    width: 100% !important;
}

small {
    font-size: 0.825rem;
}
.text-off {
    opacity: 0.6;
}
.mt5 {
    margin-top: 5px;
}
.float-end {
    float: right !important;
}
.dropdown, .dropend, .dropstart, .dropup {
    position: relative;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.dropdown-toggle {
    border-color: #f2f4f6 !important;
    white-space: nowrap;
}
svg:not(.gantt) {
    margin-top: -3px;
    pointer-events: none;
}
.icon {
    width: 20px;
    height: 20px;
}
.dropdown-menu:not(.notification-dropdown) {
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    min-width: 12rem;
    margin-top: 0.5rem;
}

.dropdown-menu[style] {
    right: auto !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item {
    padding: 0.7rem 1.25rem;
    color: #4e5e6a;
}

.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

.b-t {
    border-top: 1px solid #f2f4f6;
}

.float-start {
    float: left !important;
}

#post-form-container ul {
    list-style: none;
    padding: 0;
}
  
#post-form-container li {
    display: flex;
    align-items: center;
    padding: 8px 9px;
    float: left;
}

#post-form-container .w-8,
.w-12 {
  width: 4rem;
}

#post-form-container .h-8,
.h-12 {
  height: 4rem;
}

#post-form-container .rounded-full {
  border-radius: 0%;
}

#post-form-container .truncate {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.timeline-images span.more {
    padding: 5px 5px;
    background-color: #000;
    color: #fff;
    margin-top: 0px;
    position: absolute;
    width: 80px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 5px solid #4cc5cd;
    margin-left: -80px;
}

.form-group {
    margin-bottom: 15px;
}

.box {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}
.pr15 {
    padding-right: 15px !important;
}
.mb15 {
    margin-bottom: 15px;
}

.box-content {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    float: none;
    overflow-x: hidden;
}
.reply-container {
    margin: 15px 0;
}

.pr10 {
    padding-right: 10px;
}

.pl15 {
        padding-left: 15px !important;
}
.avatar-xs {
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 1400px){
    #post_timeline > .post-content:first-child {
        padding-top: 60px !important;
    }
}

@media screen and (max-width: 1400px){
    #post_timeline .post-content {
        float: left;
        width: 100% !important;
        padding: 0 0 0 30px !important;
        margin: 0 0 20px !important;
    }
}

@media screen and (max-width: 1400px){
    #post_timeline .post-content:nth-child(odd) .post-date {
        text-align: left !important;
    }  
}

